/* body{
    background-image: 
    url(/002-parallax-website/img/bg.jpg),
    url(/002-parallax-website/img/bg1.jpg),
    url(/002-parallax-website/img/bg2.jpg),
    url(/002-parallax-website/img/bg3.jpg),
    url(/002-parallax-website/img4/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
} */
*{
    margin: 0;
    
}

.first-container {
  height: 100vh;
  background-image: url(/002-parallax-website/img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.sekil span {
  color: white;
  font-size: 10px;
  background-color: rgb(81, 81, 81);
  padding: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: 2px inset rgb(184, 69, 184);
  outline-offset: 5px;
  letter-spacing: 1.5px;
  
}

.yazi{
    font-size: 4px;
    text-align: center;
    background-color:beige ;
    padding:8px 5px;
    line-height: 6px;
}

.second-container{
    height: 100vh;
    background-image: url(/002-parallax-website/img/bg1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.7;

}

.claruswaylogo img{
    height: 15px;
}

.yazi2{
    color: white;
    font-size: 4px;
    text-align: center;
    background-color:rgb(67, 67, 75) ;
    padding:8px 5px;
    line-height: 6px;
}
/* .p1{
    height: 20px;
    background-color: bisque;
    font-size: 5px;
    text-align: center;
    align-items: center;
}

.p2{
    height: 100vh;
    background-image: url(/002-parallax-website/img/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
} */
