
*{
    margin: 0;
    box-sizing: border-box;
    
}

.first-container {
  height: 100vh;
  background-image: url(/img/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.7;
}

.sekil span {
  color: white;
  font-size: 50px;
  background-color: rgb(81, 81, 81);
  padding: 30px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: 20px inset rgb(184, 69, 184);
  outline-offset: 5px;
  letter-spacing: 1.5px;
  
}

.yazi{
    font-size: 20px;
    text-align: center;
    background-color:beige ;
    padding:30px 55px;
    line-height: 30px;
}

.second-container{
    height: 100vh;
    background-image: url(/img/bg1.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.7;

}

.claruswaylogo img{
    height: 60px;
}

.yazi2{
    color: white;
    font-size: 20px;
    text-align: center;
    background-color:rgb(67, 67, 75) ;
    padding:30px 55px;
    line-height: 30px;
}
/* .p1{
    height: 20px;
    background-color: bisque;
    font-size: 5px;
    text-align: center;
    align-items: center;
}

.p2{
    height: 100vh;
    background-image: url(/002-parallax-website/img/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
} */
