* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  background-color: rgb(37, 105, 168);
  width: 100%;
  line-height: 60px;
  display: flex;
  justify-content: center;
  position: sticky;
  top: -20px;
  z-index: 2;
}

nav {
  width: 1000px;
}

.logo {
  float: left;
  width: 130px;
  display: flex;
  height: 60px;
}

ul {
  display: flex;
  float: right;
  font-size: 14px;
}

li {
  margin-right: 8px;
  padding: 0 5px;
}
li a {
  color: white;
}

li a:hover {
  color: gray;
  border-color: gray;
}

.angebot {
  border: 1.5px solid white;
  padding: 5px;
  border-radius: 5px;
}

#check {
  display: none;
}

.menu {
  float: right;
  display: none;
  color: white;
  font-size: 25px;
}

section {
  display: flex;
  justify-content: center;
}
.name {
  font-size: 20px;

  display: flex;
  width: 800px;
}

.date {
  margin-left: 80px;
  margin-top: 10px;
  font-size: 16px;
}
.container {
  display: block;
  margin-bottom: 50px;
  width: 1000px;
}

.slide-container {
  margin-top: 40px;
  width: 100%;

  position: relative;
  display: flex;
  justify-content: space-between;
}

.slides {
  width: 450px;
  height: 330px;

  position: relative;
}
img {
  width: 100%;
}
button {
  width: 20px;
  height: 25px;
  border: none;
}
#prev {
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0.4;
}

#next {
  position: absolute;
  top: 50%;
  right: 0;
  opacity: 0.4;
}

#prev:hover,
#next:hover {
  background-color: gray;
  transition: 1s;
}

.text {
  width: 40%;
  margin: auto;

  margin-top: 100px;
  text-align: left;
  font-size: 17px;
}
.container-down {
  display: flex;
  justify-content: space-around;
  width: 1000px;
  box-shadow: -1px -1px 11px 1px rgb(144, 144, 144);
  margin: 30px 30px;
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
}

.first-table-div {
  width: 30%;
  margin-top: 10px;
}

.second-table-div {
  width: 60%;
  margin-top: 10px;
}
.table {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.inner-table {
  display: flex;
  justify-content: space-between;
}
h4 {
  font-size: 14px;
  margin-left: 20px;
}
.first-inner-table {
  width: 45%;
}

.second-inner-table {
  width: 45%;
}

.show-more {
  display: none;
}

#check2 {
  display: none;
}

.button-container {
  border: 1px solid red;
}

.button-div {
  margin-top: 10px;
  background-color: green;
  width: 180px;
  height: 50px;
  border-radius: 3px;
}
footer {
  background-color: rgb(37, 105, 168);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.bottom-container {
  width: 1000px;
}
.info-container {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  color: white;
}
.info-small {
  display: flex;
}
.kontakt {
  margin-right: 15px;
}

h3 {
  margin: 15px 0;
}

.info-container p {
  margin: 15px 0;
 
  
}
.info-container a{
   text-decoration: none;
  color: white;
}

.info-container button {
  width: 120px;
  height: 40px;
}

.last-footer {
  background-color: rgb(13, 55, 94);
  width: 100%;
  display: flex;
  justify-content: center;
}

.yeter {
  height: 100px;
  display: flex;
  width: 1000px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.img-div {
  display: flex;

  width: 30%;
  justify-content: space-between;
  align-items: center;
}

.last-footer img {
  width: 100px;
}

.info-small{
  
  margin-left:10px;
  width:100%;
}

.informationen{
  margin-left: 10px;
}

.icons i{
  font-size: 35px;
  margin-right:7px;
  cursor: pointer;
}


.icons i:hover{
  color: gray  ;
}

@media (max-width: 916px) {
  ul {
    font-size: 1.2vw;
  }

  .container-down{
    font-size: 13px;
  }
}

@media (max-width: 800px) {
  .table {
    font-size: 16px;
  }
  ul {
    display: block;
    position: absolute;
    background-color: rgb(7, 74, 137);
    top: 60px;
    left: -400px;
    padding-left: 5px;
    font-size: 20px;
  }
  .name {
    display: flex;
    width: 100%;
    font-size: 16px;
    justify-content: space-between;
  }

  .date {
    width: 40%;
    font-size: 11px;
  }

  .menu {
    display: block;
    margin: 0 20px;
  }

  #check:checked ~ ul {
    position: absolute;
    left: 0px;
    transition: 1s;
    z-index: 1;
    width: 70%;
  }

  .text {
    margin: auto;
    margin-top: 30px;
    width: 80%;
  }
  .slide-container {
    display: block;

    text-align: center;
  }
  .slides {
    position: relative;
    height: auto;
    width: 80%;
    margin: auto;
  }
  .container-down {
    display: block;
  }

  .inner-table {
    display: block;
  }

  .table {
    display: flex;
  }

  .first-table-div {
    width: 100%;
  }

  .second-table-div {
    width: 100%;
    display: none;
  }
  .first-inner-table {
    width: 100%;
  }

  .second-inner-table {
    width: 100%;
  }

  .show-more {
    width: 100%;
    color: blue;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  #check2:checked ~ .second-table-div {
    display: block;
  }

  .info-small{
    display: block;
    
  }

  h3{
    margin: 20px 0;
  }
}
