@font-face {
  font-family: "deneme";
  src: url(/005-checkout-form/FONTS/Montserrat-Regular.ttf);
}

* {
  margin: 0;
  font-family: deneme;
  line-height: 25px;
  font-size: 24px;
}

.h1 {
  text-align: center;
  margin-bottom: 50px;
}

.main {
  display: flex;
  justify-content:center;
  align-items: center;
  
}

.container-products {
  width: 660px;
  padding: 20px;
  background-color: rgb(226, 223, 223);
}

.container-form {
  width: 660px; 
  margin-left: 50px;
}

h3{
  margin:30px 30px;
}

.container-form label, .container-form input{
  margin: 10px 30px;
  width: 500px;
  border-radius: 5px;
  border-color: rgb(217, 213, 213);
}


.country-and-post-code {
  display: flex;
}
.country{
  width: 160px;
}

.country input{
  width: 130px;
  
}


.post-code input{
  width: 320px;
}

.check{
 
}

img {
  width: 200px;
  height: 230px;
  float: left;
  border-radius: 15px;
  margin-bottom: 30px;
}

.bag-text {
  
  font-size: 32px;
}

.bag-price {
  color: orange;
  font-weight: 700;
  display: inline;
  margin-left: 20px;
  font-size: 32px;
}

.bag-old-price {
  display: inline;
  font-size: 24px;
  text-decoration: line-through;
}

.piece {
  border: 1px solid rgb(129, 129, 129);
  border-radius: 5px;
  margin-left: 120px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.minus {
  font-weight: 900;
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(203, 201, 201);
}

.plus {
  font-weight: 900;
  font-weight: 600;
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgb(190, 189, 189);
}

.shoe-text {
  
  font-size: 32px;
}

.shoe-price,
.shoe-piece {
  
}

.shoe-price {
  color: orange;
  font-weight: 700;
  display: inline;
  
  font-size: 32px;
}

.shoe-old-price {
  display: inline;
  font-size: 24px;
  text-decoration: line-through;
}

.shoe-img {
  clear: left;
}



.shipping-main {
  clear: left;
  
  border-top: 1px solid black;
}
.shipping {
  display: flex;
  float: left;
  font-size: 32px;
}

.shipping-price {
  display: flex;
  justify-content: end;
}
